@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css');

@import url(http://fonts.googleapis.com/css?family=Roboto);

body {
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
}

.container {
    height: 100vh;
    background-image: url('/images/cmd.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.jumbotron {
    background: rgba(51, 51, 51, 0.8);
}
